@model IEnumerable<bilihan_online.Models.PurchaseOrderModel>

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>

<p>
    @* <a asp-action="Create">Create New</a> *@
    <a asp-action="Create" class="btn btn-primary">
        Create New
    </a>
</p>
<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Customer
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfDelivery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountDue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerID.FullName)
                </td>
                <td class="text-end">
                    @item.DateOfDelivery.ToString("MM/dd/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td class="text-end">
                    @Html.DisplayFor(modelItem => item.AmountDue)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
