@model IEnumerable<bilihan_online.Models.CustomerModel>

@{
    ViewData["Title"] = "Customer";
}

<h1>Customer</h1>

<p>
    <button id="btnCreate" type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#modalCreateNew">
        Create New
    </button>
</p>
<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td class="text-end">
                    @Html.DisplayFor(modelItem => item.MobileNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td class="text-end">
                    @(item.IsActive ? "TRUE" : "FALSE")
                </td>
                <td>
                    @{
                        var btnEdit = "btnEdit" + item.ID;
                    }
                    <a href='#' id="@btnEdit" type="button" data-bs-toggle="modal" data-bs-target="#modalEdit"
                        value="@item.ID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<!-- Create Modal -->
<div class="modal fade" id="modalCreateNew" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Create New</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="row" id="CreateCustomerForm">
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <div id="divErrorMessage"></div>
                            </div>
                            <div class="form-group">
                                <label for="FirstName" class="control-label">First Name</label>
                                <input id="FirstName" class="form-control" name="FirstName" required />
                                <span id="spanFirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="LastName" class="control-label">Last Name</label>
                                <input id="LastName" class="form-control" name="LastName" required />
                                <span id="spanLastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="MobileNumber" class="control-label">Mobile Number</label>
                                <input id="MobileNumber" class="form-control" type="number" name="MobileNumber"
                                    required />
                                <span id="spanMobileNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="City" class="control-label">City</label>
                                <input id="City" class="form-control" name="City" required />
                                <span id="spanCity" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input id="IsActive" class="form-check-input" type="checkbox" name="IsActive" />
                                    <label for="IsActive" class="form-check-label">Is Active</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnSubmit">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="modalEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

                        <form class="row" id="EditCustomerForm">
                            <div class="form-group">
                                <div id="edtdivErrorMessage"></div>
                            </div>
                            <div class="form-group">
                                <label for="edtFirstName" class="control-label">First Name</label>
                                <input id="edtFirstName" class="form-control" name="FirstName" required />
                                <span id="edtSpanFirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="edtLastName" class="control-label">Last Name</label>
                                <input id="edtLastName" class="form-control" name="LastName" required />
                                <span id="edtspanLastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="edtFullName" class="control-label">Full Name</label>
                                <input id="edtFullName" class="form-control" disabled />
                            </div>
                            <div class="form-group">
                                <label for="edtMobileNumber" class="control-label">Mobile Number</label>
                                <input id="edtMobileNumber" class="form-control" type="number" name="MobileNumber"
                                    required />
                                <span id="edtSpanMobileNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="edtCity" class="control-label">City</label>
                                <input id="edtCity" class="form-control" name="City" required />
                                <span id="edtSpanCity" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="edtDateCreated" class="control-label">Date Created</label>
                                <input id="edtDateCreated" class="form-control" disabled />
                            </div>
                            <div class="form-group">
                                <label for="edtCreatedBy" class="control-label">Created By</label>
                                <input id="edtCreatedBy" class="form-control" disabled />
                            </div>
                            <div class="form-group">
                                <label for="edtTimestamp" class="control-label">Timestamp</label>
                                <input id="edtTimestamp" class="form-control" disabled />
                            </div>
                            <div class="form-group">
                                <label for="edtUserID" class="control-label">User ID</label>
                                <input id="edtUserID" class="form-control" disabled />
                            </div>

                            <div class="form-group">
                                <div class="form-check">
                                    <input id="edtIsActive" class="form-check-input" type="checkbox" />
                                    <label for="edtIsActive" class="form-check-label">Is Active</label>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnEdtSubmit">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        var addActionURL = '@Url.Action("JsonCreate")';
        var editActionURL = '@Url.Action("JsonEdit")';
        var getActionURL = '@Url.Action("JsonDetails")';
    </script>
    <script src="~/js/pages/customer.js" asp-append-version="true"></script>
}